<section id="about-us" class="section">
  <div class="container container-inner about-container">
    <h2 class="about-title">
      About <span class="about-title-accent">Us</span>
    </h2>
    <p class="about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <ul class="about-list">
      <li class="about-item">
        <p class="about-item-number">01</p>
        <h3 class="about-item-title">Expert, innovative teaching staff</h3>
      </li>
      <li class="about-item">
        <p class="about-item-number">02</p>
        <h3 class="about-item-title">
          Wide range of course levels and options
        </h3>
      </li>
      <li class="about-item">
        <p class="about-item-number">03</p>
        <h3 class="about-item-title">Multicultural learning environment</h3>
      </li>
      <li class="about-item">
        <p class="about-item-number">04</p>
        <h3 class="about-item-title">
          Comprehensive language support services
        </h3>
      </li>
      <li class="about-featured">
        <img
          src="./img/memoji@1.png"
          srcset="./img/memoji@1.png 1x, ./img/memoji@2.png 2x"
          alt=""
          width="254"
          height="173"
          class="about-featured-img"
        />
      </li>
    </ul>
  </div>
</section>
