<section id="reviews">
  <div class="container section">
    <div class="review-section-desc">
      <h1 class="review-section-title">
        What our <span class="title-accent">students</span> say
      </h1>
      <p class="review-subtitle">
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>

    <ul class="reviews-list">
      <li class="review-card">
        <div class="reviewer-info">
          <img
            src="./img/review-1@1.jpg"
            srcset="./img/review-1@1.jpg 1x, ./img/review-1@2.jpg 2x"
            alt="Anna"
            width="50"
            class="review-img"
          />
          <div class="reviewer-details">
            <p class="reviewer-name">Anna</p>
            <p class="reviewer-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="review-card">
        <div class="reviewer-info">
          <img
            src="./img/review-2@1.jpg"
            srcset="./img/review-2@1.jpg 1x, ./img/review-2@2.jpg 2x"
            alt="Mykhailo"
            width="50"
            class="review-img"
          />
          <div class="reviewer-details">
            <p class="reviewer-name">Mykhailo</p>
            <p class="reviewer-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="review-card">
        <div class="reviewer-info">
          <img
            src="./img/review-3@1.jpg"
            srcset="./img/review-3@1.jpg 1x, ./img/review-3@2.jpg 2x"
            alt="Victoria"
            width="50"
            class="review-img"
          />
          <div class="reviewer-details">
            <p class="reviewer-name">Victoria</p>
            <p class="reviewer-role">Student</p>
          </div>
        </div>
        <p class="review-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
